<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <header>
        <div class="logo">LOGO</div>
        <nav class="nav-bar">
            <ul>
                <li>
                    <a href="/" class="active">HOME</a>
                </li>
                <li>
                    <a href="/services">SERVICES</a>
                </li>
                <li>
                    <a href="/contact">CONTACT</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="detel">
        <h1>I'm John <span>Doe</span></h1>
        <p>It's my personal blog.</p>
        <p>I'm go backend developer.</p>
    <a href="assets/cv.pdf">View CV</a>
    </div>
    
    <div class="images">
        <img src="/assets/img/shape.png" class="shape">
        <img src="/assets/img/person.png" class="person">
    </div>

</body>
</html>